*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,
body,
#root{
width: 100%;
height: 100%;
}

body{
  background-color: rgb(156, 129, 95);
}

.notes{
  height: 100%;
  width: 100%;
  padding: 1rem;
  /* overflow-x: ; */
  display: flex;
  flex-wrap: wrap;
  /* flex: shrink 0;; */
  /* flex-direction: row; */
  gap: 1rem;
}

.note{
  background-color: rgba(7, 88, 159, 0.881);
  color: aliceblue;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 20rem;
}