*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  background-color: #272626;
  color:whitesmoke
}

.app{
  height:full;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(9, 123, 108);
  gap: 1rem;
}

.app .clock{
   background-color: #30f36a;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid #103b1d;
  display: flex;
  align-items: center;
  justify-content: center;


}

.app .clock h1{
  width: fit-content;
  font-size: 5rem;
  color: #272626;
}

.app .buttons{
 display: flex;
 height: 100px;
 width: 100%;
align-items: center;
justify-content: center;
 gap:2rem;
}

.app .buttons button{
  padding: 1rem 1.2rem;
  background-color: #30f36a;
  border: 1px solid #103b1d;
  border-radius: 0.4rem;
  color: #272626;


}

.app .buttons button:active{
  transform: scale(0.91);
}